<!DOCTYPE html>
<!--suppress HtmlRequiredTitleElement -->
<html lang="en-EN">
<head>
  <meta charset="utf-8"/>
  <!--  <link rel="stylesheet" href="assets/font-awesome/css/fontawesome.min.css"/>-->
  <!--  <link rel="stylesheet" href="assets/font-awesome/css/all.min.css"/>-->
</head>

<body>
<div class="d-flex w-100 h-100 flex-column">
  <ul class="nav justify-content-between" id="toolTab">
    <li class="nav-item w-50">
      <a class="nav-link active btn-tab" href="#systemTimer">System Timer</a>
    </li>
    <li class="nav-item w-50">
      <a class="nav-link btn-tab" href="#pictureSorter">Picture Sorter</a>
    </li>
  </ul>
  <div class="tab-content" id="tabContent">
    <div class="tab-pane fade show active" id="pictureSorter" role="tabpanel" aria-labelledby="pictureSorter-tab">
      <strong>We are developing...</strong>
      <div class="development">
        <!-- TODO get this from my already coded program-->
      </div>
    </div>
    <div class="tab-pane fade" id="systemTimer" role="tabpanel" aria-labelledby="systemTimer-tab">
      <strong>We are developing...</strong>

      <div class="development">

      </div>
    </div>
  </div>
</div>

<script src="../../tools.js"></script>
</body>
</html>
