.btn-tab {
  color:#ddd !important;
  background-color:#2f2f2f !important;
  margin: 0 5px;
}
.btn-tab:first-child{
  margin-left: 0;
}
.btn-tab:first-child{
  margin-right: 0;
}

.btn-tab.active{
  background-color: darkcyan !important;
}
