<!DOCTYPE html>
<!--suppress HtmlRequiredTitleElement -->
<html lang="en-EN">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../assets/font-awesome/css/fontawesome.min.css" />
    <link rel="stylesheet" href="../assets/font-awesome/css/all.min.css" />
    <style>
      body {
        overflow-x: hidden;
        overflow-y: hidden;
      }
    </style>
  </head>

  <body>
    <div id="collapsedScreen" class="container">
      <button id="expandButton" class="btn d-flex justify-content-center align-items-center"><i class="fas fa-rocket" id="rocket"></i></button>
    </div>
    <script src="../app.js"></script>
    <script src="../collapsed.js"></script>
  </body>
</html>
